/.idea
target
.project
.classpath
.settings
*.class
*.jar
*.ipr
*.iml
*.iws
*.log
.checkstyle

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

